@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,500&display=swap'); /*--importar una fuente---*/
/*!-----------RESET------------------*/

*{ 
    margin: 0;
    padding: 0 ;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;

}
    

    



/*!-------------HEADER----------------------*/
header{
    width: 100%;
    height: 30vh;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    
}
    
header h1 {
    color: goldenrod;
    font-weight: 700;
    font-size: 35px;
    font-style: italic;
    border: 4px rgb(99, 99, 99) solid;
    padding: 5px;
}    
 

/* !----------------------------NAV--------------------------------------------------- */

nav {
    width: 100%;
    height: 30px;
    background-color: darkgoldenrod;
}

nav h2 {
    display: none;
}


nav  ul {
    
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

    

nav ul li a{
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 20px;
    transition: 1s;
}


nav ul li a:hover {
    color:rgb(99, 99, 99) ;
}

/* -----------MENU HAMBURGUESA--------- */


.menu-button {
    display: none;
}

input {
    display: none;
}


/* ---MEDIA QUERY----------- */


    



@media screen and (max-width: 945px) {
header {
    flex-direction: column;
    height: auto;
}

header a {
    order: -1;
}

header h1 {
    font-weight: 500;
    font-size: 25px;
 }
}
/* -------menu hgamburguesa--------- */
@media screen and (max-width: 680px) {
    nav {
        background-color: black;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        height: 100%;
    }

    nav h2 {
        display: block;
        color: darkgoldenrod;
    }

    nav ul {
        display: none;
        
        
    }
    
    input:checked ~ ul{
        display: block;
        padding: 50px;
    }
    
    input {
        display: none;
    }
    
    nav label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        
    }
    
    .menu-button {
        color: darkgoldenrod;
        text-align: center;
        line-height: 6vh;
        display: inline-block;
        margin: 1vh;
        height: 6vh;
        width: 6vh;
        border: 1px solid goldenrod
    }
        
    nav ul li a{
        color: darkgoldenrod;
    }   
    
    header h1 {
        display: none;
    }

    header a img {
        width: 170px;
    }


    }


    /*!---------------------------MAIN------------------------------*/
    

    /* ------------------------------SECTION HERO------------------ */

    
        
        

    
.hero {
    background-image: url(../img/orden.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
    
.hero div {
    margin-left: 25px;
    
}        

    
.hero h2 {
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
    font-size: 30px;
    font-style: italic;
    
}

.hero p {
    font-family:'Poppins', sans-serif ;
    font-weight: 400; 
    font-size: 20px;
    
}



.hero div ul {
    list-style-position:inside;
    list-style-type:circle;
    font-family:'Poppins', sans-serif ;
    font-weight:lighter ;
    
}

/* ----MEDIA QUERY----------------------------- */

@media screen and (max-width: 600px) {
    .hero .hero-segundo {
        display: none;
    }
        
    .hero .hero-primero {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    .hero .hero-primero h2 {
        font-weight: 700;
        font-size: 35px;
        text-align: center;
    }

    .hero-primero p{
        font-size:25px ;
    }

}
/* -------SECTION SERVICIOS----------- */

.servicios {
    text-align: center;
    flex-wrap: wrap;
}



.servicios-titulo h2 {
    font-family:'Poppins', sans-serif ;
    text-align: center;
    background-color: darkgoldenrod;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.servicios .servicios-titulo a{
    width: 100%;
    font-family:'Poppins', sans-serif ;
    background-color:rgb(99, 99, 99);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    padding: 2px;
    font-weight: 600;
    font-size: 20px;
    transition:1s ;
    
}

.servicios-titulo a:hover {
    padding: 3px; 
    font-size: 23px;
    
}
    
.servicios .servicios-tipos div{
    width:230px;
    border: 2px rgb(99, 99, 99) solid;
    text-align: center;
    display: inline-block;
    margin: 10px 20px 5px 20px;
    box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);

} 
    
.servicios .servicios-tipos div img{
    width:100%;
    
}
    
.servicios .servicios-tipos div a {
    /* background-color: darkgrey; */
    color: rgb(99, 99, 99);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}

.servicios-tipos div a:hover {
    color: darkgoldenrod;
}
    
    

/* --------SECTION  ELEGIRNOS----------- */
    
    
.elegirnos {
    width: 100%;
    
    
    font-family:'Poppins', sans-serif ;
    background-color: rgb(99, 99, 99);
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
    margin-top: 20px;
    
    
}    
    
    
    
.elegirnos .elegirnos-titulo h2 {
    
    color:rgb(99, 99, 99);
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
    
    
    
    
    
.elegirnos .elegirnos-imagen img {
    width: 100%;
    
    object-fit:cover;
    
    
    
}
    
    
    

.elegirnos .elegirnos-opciones h3{
    text-align: center;
    color: rgb(99, 99, 99);
    background-color: white;
    font-size: 25px;
    font-weight: 600;
}
    



.elegirnos .elegirnos-opciones div {
    text-align: center;
    color: white;
    margin: 15px;
}

.elegirnos .elegirnos-opciones div h4 {
    border: 2px white solid;
    font-size: 18px;
   
}

/*---------media query-----  */

@media screen and (max-width: 1220px) {
    .elegirnos-titulo {
        display: none;
    }

    .elegirnos-imagen {
        display: none;
    }

    .elegirnos {
        display: flex;
        justify-content: center;
    }

    .elegirnos-opciones h3{
        margin-top: 30px;
    }
       
}

@media screen and (max-width:745px) {

    .elegirnos-opciones {
        width: 100%;
    }
    .elegirnos-opciones div p{
        display: none;
    }

    .elegirnos-opciones div {
        text-align: center;
    }

    
    .elegirnos-opciones h3 {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .elegirnos-opciones h4 {
        margin: 30px;
    }



}
       
        
       
    
    
/*----------------FOOTER------------------------------------*/
    
footer {
    width: 100%;
    height: 100%;
    background-color: black;
    color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


footer div img {
    background-color: darkgoldenrod;
    
}
    
footer .footer-ubicacion div  {
    display: flex;
    margin: 30px;
}    

footer .footer-mapa {
    margin-right: 30px;
   
}

footer .footer-mapa div {
    display: flex;
    flex-direction: column;
}

footer .footer-mapa div a{
    color: goldenrod;
}

footer .footer-logo img {
    background-color: black;
}

/* -----------------------MEDIA QUERY------------------------ */

@media screen and (max-width:750px ) {
    footer {
        height: auto;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-seguinos {
    margin-top: 20px;
    order: 3;
    }
    
    .footer-ubicacion {
        order: 4;
    }



}



/*!-------------------MAIN----------------------------------------  */
/*------------comofunciona----SECTION--------page 1  */

.funcionamiento {
    background-image: url(../img/comofuncionapage.png);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}    
    

.funcionamiento h2 {
    font-weight: 600;
    font-size: 50px;
    border: 2px white solid;
    padding: 2px;
}

.funcionamiento p {
    font-size: 25px;
    text-align: center;
}

.funcionamiento a {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(30, 30, 30);
    transition: 1s;
    border-radius: 20px;
    
}

.funcionamiento a:hover {
    color: white;
    background-color: black;
}






    



.pasos {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.pasos h2 {
    margin: 20px;
}    
    
    

.pasos-numeros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
    flex-wrap: wrap;
    
}




.pasos .pasos-numeros div ul  {
    list-style-type:none;
    margin-bottom: 30px;
    
}

.pasos .pasos-numeros div a {
    color: darkgoldenrod;
    border: 2px black solid;
    font-size: 20px;
    padding: 2px;
    transition: 1s;
    border-radius: 10px;
    
}

.pasos-numeros div a:hover {
    background-color: black;
    padding: 3px;
    font-size: 25px;
    font-weight: 400;
}

.pasos-numeros div a :active {
    background-color: black;
}

/* --------------------------MEDIA QUERY------------------------------------- */

@media screen and (max-width:680px){
    .funcionamiento h2 {
        font-size: 40px;
    }

    .funcionamiento p{
        font-size: 20px;
        text-align: center;
    }

    .pasos .pasos-numeros{
        grid-template-columns: 1fr;
    }

    .pasos-numero div ul {
        text-align: center;
        
    }
}
/* --------------seguridad----------SECTION----------- */

.seguridad {
    background-color: darkgoldenrod;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    
    
}

.seguridad .seguridad-titulo h2 {
    text-align: center;
    font-size: 30px;
  

}

.seguridad .seguridad-items div {
    margin: 1rem;
    

}

/* ------MEDIA QUERY----------------- */

@media screen and (max-width:680px)
    {
        .seguridad {
            grid-template-columns: 1fr;
        }

        .seguridad-items {
            text-align: center;
        }
    }

/*!-------------pag SERVICIOS--------------  */

.carrusel {
    width: 100%;
    height: 100%;
    
}

#carouselExampleControls {
    width: 100%;
    height: 100%;
   
}

.carrusel .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.services h3 {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    color:rgb(0, 58, 0) ;

}

.services-empleados {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    
}


.services-empleada {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-mantenimiento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-empleada div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 30px 30px;
    
}    


.services-mantenimiento div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 30px 20px;
}

    

.services-empleados div h4 {
    text-align: center;
    color: rgb(0, 58, 0);
    
}

.services-empleados div p {
    margin: 0 30px 0 30px;
    
}
/* -----------------MEDIA QUERY------------ */
@media  screen and (max-width:1000px) {
    .services-empleados {
        grid-template-columns: 1fr;
    }
    
}

.services-galeria {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 23px;
    
    flex-wrap: wrap;
   
}
    



.services-galeria div img {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
    
    
    

.services-galeria div {
    position: relative;
    box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.75);
    flex-wrap: wrap;
}

.services-galeria div h4 {
    width: 100%;
    position: absolute;
    bottom: 50px;
    color: rgb(0, 58, 0);
    background-color: white;
    text-align: center;
    transition: 1s;
}
    
.services-galeria div a :hover {
    background-color: rgb(0, 58, 0);
    color: white;
}

@media screen and (max-width:1000px) {
    .services-galeria {
        
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width:600px) {
    .services-galeria {
        
        grid-template-columns: 1fr;
    }
    
}
    


.garantia {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 58, 0);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.garantia h3 {
    background-color: white;
    color:rgb(0, 58, 0) ;
    margin-top: 30px;
}
    
.garantia p{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* --------PAGINA EQUIPO DE TRABAJO-------------- */

.equipo{
    background-image: url(../img/equipo\ de\ trabajo.png);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color:  rgba(1, 1, 1, 0.73);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.equipo h2 {
    text-align: center;
    color: bisque;

}

.equipo ul li{
    color: bisque;
    margin: 30px;
    
}

.equipo-completo {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    background-color:  rgba(54, 53, 53, 0.886);
    
}

.equipo-titulo {
    text-align: center;
    color:  rgba(54, 53, 53, 0.886);
    color:bisque;
    
}
    
.equipo-formulario {
    margin-left: 50px;
    
    color: bisque;
    
}    
    
.contacto-titulo {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:rgb(99, 99, 99) ;
}  
    
.contacto-titulo p{
    font-size: 20px;
}

.contacto-formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    color:rgb(99, 99, 99) ;
    background-color: black;
}
.contacto-form {
    order: 2;
}
.contacto-datos {
    margin-left: 40px;
}

.contacto-datos div img{
    background-color: rgb(99, 99, 99);
    
}

.contacto-ubicacion {
    background-color: black;
    text-align: center;
}

    


    


    


    
    




   











    


    
    
    
    
    
    

    
    



    


    


    
    




    
    


    





    
    
    


    
    

    
    
    
    



    
    
    
    
    
    
    
    

    
    
    
    



    
    
    

    




