
$color-principal:black;
$color-secunadario: goldenrod; 

@mixin flex ($flex, $justify, $align) {
    display : $flex;
    justify-content: $justify;
    align-items: $align;
    
}



$colores:
rgb(99, 99, 99),
white,
rgb(0, 58, 0),
bisque,

